<style> 
.bus-ticket{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    background-image: url(./img/bus1.png);
    width: 850px;

}
</style>

<div class="row bus-ticket">

    <div class="col-md-2">
        <table class="table">
            <caption>Details du voyage</caption>
            <tbody>
                <tr>
                    <th>Date</th>
                    <td>26 Janvier 2018</td>
                </tr>
                <tr>
                    <th>Heure</th>
                    <td>10:30</td>
                </tr>
                <tr>
                    <th>De</th>
                    <td>Ouagadougou</td>
                </tr>
                <tr>
                    <th>A</th>
                    <td>Banfora</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
                <table class="table">
                    <caption>Details du Voyageur</caption>
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>John Piper</td>
                        </tr>
                        <tr>
                            <th>Bagages</th>
                            <td>402</td>
                        </tr>
                       

                    </tbody>
                </table>
    </div>



</div>