<div class="row">
    <button class="btn btn-primary"
        ng-bootbox-title="<i class='fa fa-exchange' ></i> Nouveau Voyage "
        ng-bootbox-custom-dialog
        ng-bootbox-custom-dialog-template="./templates/modal/add-trip.html"
        ng-bootbox-buttons="customDialogButtons"
        ng-bootbox-options="dialogOptions">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nouveau Voyage
    </button>

</div>

<div class="row">

    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>

                <th> #</th>
                <th> De</th>
                <th> A</th>
                <th> Heure</th>
                <th> Vehicule</th>
                <th> Jours/Date</th>
                <th>
                    <button type="button" class="btn btn-warning" ng-click="clearAll()">Delete All</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="active" ng-repeat="t in trips">
                <td>{{$index+1}}</td>
                <td>{{t.type}}</td>
                <td>{{t.brand}}</td>
                <td>{{t.model}}</td>
                <td>{{t.numberplate}}</td>
                <td>{{t.seats}}</td>
                <td>
                    <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> edit
                            </button>

                    <button type="button" class="btn btn-danger" ng-click="delete(t)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
                            </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>